flaskz                  # deps: flask+sqlalchemy+requests
Flask-Login             # for user login management
alembic                 # for database migration

## Install following packages as needed
# pycryptodome          # RSA&AES encryption，for license management
# pymysql               # mysql driver
# websockets            # websocket
# redisz                # redisz
# flask-cors            # for cross domain
